  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin" class="brand-link">
      <img src="/admin/img/logo.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">GadgetVerse</span>
    </a>    
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
          <li class="nav-item">
            <a href="/admin" class="nav-link <%= (activePage === 'dashboard') ? 'active' : '' %>">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/users" class="nav-link <%= (activePage === 'admin/users/index') ? 'active' : '' %>">
              <i class="nav-icon fas fa-users"></i>
              <p>Users</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/productCategories" class="nav-link <%= (activePage === 'admin/productCategories/index') ? 'active' : '' %>">
              <i class="nav-icon fas fa-layer-group"></i>
              <p>Product Categories</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/products" class="nav-link <%= (activePage === 'admin/products/index') ? 'active' : '' %>">
              <i class="nav-icon fas fa-box-open"></i>
              <p>Products</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
