<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <!-- Hamburger menu for mobile -->
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button">
        <i class="fas fa-bars"></i>
      </a>
    </li>
  </ul>
  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Profile Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
        <!-- User Avatar -->
        <img
          src="/admin/img/user-placeholder.png"
          alt="User Avatar"
          class="img-size-32 img-circle mr-2"
          style="width: 32px; height: 32px"
        />
        <span>Admin</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a href="/admin/profile" class="dropdown-item">
          <i class="fas fa-user mr-2"></i> View Profile
        </a>
        <a href="/admin/change-password" class="dropdown-item">
          <i class="fas fa-lock mr-2"></i> Change Password
        </a>
        <div class="dropdown-divider"></div>
        <a href="/admin/logout" class="dropdown-item">
          <i class="fas fa-sign-out-alt mr-2"></i> Logout
        </a>
      </div>
    </li>
  </ul>
</nav>
<!-- /.navbar -->
